<div id="wrapperMain">
    <%- include('./layout/header.ejs', {user, currentUrl}) %>

    <% if(user.login && user.id) { %>
    <main id="add">
        <div>
            <h1>Adding post</h1>
            <form id="createPost">
                Title <input id="titlePost" type="text">
                Body <textarea id="bodyPost"></textarea>
                <label id="laddImgBtn" for="addImgBtn">
                    <h4>Add image</h4>
                    <input type="file" name="file" id="addImgBtn" accept=".png, .jpg, .jpeg">
                </label>
                <div class="uploadedImg">
                </div>
                <button id="sendPost">Submit</button>
            </form>
        </div>
    </main>
    <% } %>
    
    <%- include('./layout/footer.ejs') %>
</div>

